body {
    margin: 0;
    --font-family: sans-serif;
}

.content-container {
    display: grid;
    gap: 5em;
    grid-template-columns: 2fr 3fr;
    margin: 1em 2em;
}

button {
    display: flex;
    justify-self: end;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-emerald-700);
    }

    &.dangerous {
        background-color: var(--color-red-500);

        &:hover {
            background-color: var(--color-red-700);
        }
    }

    &.active {
        background-color: var(--color-emerald-300);
    }
}


/* print stuff */

@media print {

    .input-column,
    footer {
        display: none;
    }

    .content-container {
        display: block;
        width: 100%;
        margin: 0em;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .preview-column {
        display: block;
        box-shadow: none;
    }

    .header {
        display: block;
    }

    .position-and-company,
    .degree-and-school,
    .time-and-location,
    .title,
    .links {
        display: block;
    }

}
