body {
    margin: 0;
    --font-family: sans-serif;
}

.content-container {
    display: grid;
    gap: 5em;
    grid-template-columns: 2fr 3fr;
    margin: 1em 2em;
}


/* print stuff */

@media print {

    .input-column,
    footer {
        display: none;
    }

    .content-container {
        display: block;
        width: 100%;
        margin: 0em;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .preview-column {
        display: block;
        box-shadow: none;
    }

    .header {
        display: block;
    }

    .position-and-company,
    .degree-and-school,
    .time-and-location,
    .title,
    .links {
        display: block;
    }

}
