.input-column {
    padding: 1em;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        justify-self: center;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1em;
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }

    h3 {
        font-size: 1.25rem;
    }


    .input-content,
    .top-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    .top-menu {

        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1em;
        padding: 2em;
    }

    .input-content {
        padding: 1em;

    }

    .switch-active-tabs {
        display: flex;
        justify-content: space-evenly;
    }

}
