@import url('colors.css');

.preview-column {

    font-family: var(--font-family);

    &.top {
        padding-bottom: 5em;
    }

    &.left {
        display: grid;
        grid-template-columns: 2fr 3fr;

        .personal-preview {
            order: 1;
        }

        .cv-details {
            order: 2;
        }

    }

    &.right {
        display: grid;
        grid-template-columns: 3fr 2fr;

        .personal-preview {
            order: 2;
        }

        .cv-details {
            order: 1;
        }
    }

    &.left,
    &.right {
        gap: .5em;

        .contact-info {
            flex-direction: column;
        }

        .personal-preview {
            padding-bottom: 5em;
        }

        .cv-details {
            padding-bottom: 5em;
        }

    }

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
        color: var(--accent-color);
        border-bottom: 1px solid var(--accent-color);
    }

    .preview {
        padding: 0em 1em;
    }


    .header {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;

        .position-and-company,
        .degree-and-school,
        .title {

            h3,
            p {
                margin: 0;
            }

            :last-child {
                margin-top: .5em;
                font-style: italic;
            }
        }

        .time-and-location {
            p {
                margin: 0;
                text-align: end;
            }

            :last-child {
                margin-top: .5em;
                font-style: italic;
            }
        }

        .title,
        .links {

            h3,
            p {
                margin: 0;
            }
        }

    }

}
